<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=363327897423878";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class="row full">
  <div class="col-s-4 col-m-5 col-l-4 profile">
    <div class="card center">
      <img class="circle" src="/images/expositores/expo1.svg" />
      <b>{{user.username}}</b>
      {{#if user.boletonum}}
        <b>{{user.boletonum}} | {{user.boletotyp}}</b>
      {{/if}}
      <br />
      <a class="button small" href="/profile">Editar Perfil</a>
      {{#if isSales}}
        <a class="button small" href="/sales">Registrar Boletos</a>
      {{/if}}
    </div>

    <div class="center card">
          <a href="https://twitter.com/intent/tweet?button_hashtag=InnovateHN" class="twitter-hashtag-button" data-size="large" data-text="Me he registrado al evento InnovateHN" data-url="https://innovatehn.unicah.edu" data-related="unicahonduras" data-show-count="false">Tweet #InnovateHN</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <br/>
          <div class="fb-follow" data-href="https://www.facebook.com/icc.unicah/" data-layout="button_count" data-size="large" data-show-faces="true"></div>
        </br/>
    </div>
    </div>
    <div class="col-s-4 col-m-7 col-l-8">
      <div class="row widgets">
        {{#if user.boletonum}}
        <div class="card col-s-4 col-m-12 col-l-12">
          <h2>Agenda InnovateHN</h2>
          {{#each agenda}}
          <div  id="{{acode}}" class="row {{#if isConferencia}} tall{{/if}} {{#if selected}} tall{{/if}}" style="padding-top:0.75em;border-bottom:solid 1px #ddd;">
            <div class="col-s-2 col-m-2 col-l-2" style="padding-left:0.5em">
              {{ini}}<br />
              {{hini}} - {{hend}}<br />
            </div>
            <div class="col-s-2 col-m-4 col-l-4" style="padding-right:0.75em;">
              {{dsc}}
            </div>
            <div class="col-s-2 col-m-2 col-l-2">
              {{who}}&nbsp;
            </div>
            <div class="col-s-2 col-m-2 col-l-2">
              {{plc}}&nbsp;
            </div>
            {{#if isConferencia}}{{else}}
                  {{#if selected}}
                      <div class="col-s-2 col-m-2 col-l-2 right">
                        <form action="/remove/{{acode}}" method="post">
                          <button type="submit" style="background-color:red;color:white;" > -</button>
                        </form>
                      </div>
                    {{else}}
                    {{#if full}}
                        <div class="col-s-2 col-m-2 col-l-2 center">
                            Lleno
                        </div>
                    {{else}}
                      <div class="col-s-2 col-m-2 col-l-2 right">
                        <form action="/add/{{acode}}" method="post">
                          <button type="submit" class="primary">+</button>
                        </form>
                      </div>
                  {{/if}}
              {{/if}}
          {{/if}}
          </div>
          {{/each}}
        </div>
        {{/if}}
        {{#if isAdmin}}
          <div class="card col-s-4 col-m-12 col-l-4 center">
            <b>Registrados</b><br />
            {{usercount}}
          </div>
          <div class="card col-s-4 col-m-12 col-l-5 center">
            <b>Boletos Registrados</b><br />
            <table style="width:100%;">
              <tr>
                <th>&nbsp;</th>
                <th>Gold</th>
                <th>Silver</th>
              </tr>
              <tr>
                <td>Venta</td>
                <td>{{stats.gold}}</td>
                <td>{{stats.silver}}</td>
              </tr>
              <tr>
                <td>&nbsp</td>
                <td><a href="/csv/gold" target="_blank">csv</a></td>
                <td><a href="/csv/silver" target="_blank">csv</a></td>
              </tr>
            </table>
          </div>

          <div class="card col-s-4 col-m-12 col-l-12">
            <h2>Agenda InnovateHN</h2>
            {{#each agenda}}
            <div  id="{{acode}}" class="row {{#if isConferencia}} tall{{/if}} {{#if selected}} tall{{/if}}" style="padding-top:0.75em;border-bottom:solid 1px #ddd;">
              <div class="col-s-2 col-m-2 col-l-2" style="padding-left:0.5em">
                {{ini}}<br />
                {{hini}} - {{hend}}<br />
                {{acode}}
              </div>
              <div class="col-s-2 col-m-4 col-l-4" style="padding-right:0.75em;">
                {{dsc}}
              </div>
              <div class="col-s-2 col-m-2 col-l-2">
                {{who}}&nbsp;
              </div>
              <div class="col-s-2 col-m-2 col-l-2">
                {{plc}}&nbsp;
              </div>
              {{#if isConferencia}}
              {{else}}
              <div class="col-s-2 col-m-2 col-l-2">
                <a href="/agenda/csv/{{acode}}">{{cpr}} de {{cpo}}</a>
              </div>
              {{/if}}
            </div>
            {{/each}}
          </div>


        {{/if}}
      </div>
    </div>
</div>
