<h1 class="center">Iniciar Sesión</h1>
<form action="login" method="post">
  {{#if error}}
    <fieldset class="row">
      <span class="error col-s-4 col-m-6 col-m-offset-1 col-l-4 col-l-offset-4">{{error}}</span>
    </fieldset>
  {{/if}}
  <fieldset class="row">
    <label class="col-s-4 col-m-3 col-m-offset-1 col-l-2 col-l-offset-4">Correo</label>
    <input type="email" value="{{useremail}}" class="col-s-4 col-m-5 col-l-2"
        name="useremail" id="useremail"
        placeholder="Tu Correo Electrónico"
        />
    <div class="error col-s-4 col-m-4 col-m-offset-4 col-l-2 col-l-offset-6" id="errors_useremail">
    {{#if errors.useremail}}
      {{errors.useremail}}
    {{/if}}
    </div>
  </fieldset>
  <fieldset class="row">
    <label class="col-s-4 col-m-3 col-m-offset-1 col-l-2 col-l-offset-4">Contraseña</label>
    <input type="password" value="{{userpswd}}"  class="col-s-4 col-m-5 col-l-2"
        name="userpswd" id="userpswd"
        placeholder="Contraseña"
        />
    <div class="error col-s-4 col-m-4 col-m-offset-4 col-l-2 col-l-offset-6" id="errors_userpswd">
    {{#if errors.userpswd}}
      {{errors.userpswd}}
    {{/if}}
    </div>
  </fieldset>
  <fieldset class="row">
    <button class="primary col-s-4 col-m-5 col-l-2 col-m-offset-4 col-l-offset-6" id="btnDoLogin">Iniciar Sesión</button>
  </fieldset>
</form>



<script>
function validateEmail(email){
    return (/^\S+@\S+\.\S+$/).test(email);
}
function validatePassword(pswd){
    return (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/).test(pswd);
}

window.addEventListener('load', function(e) {
  document.getElementById('btnDoLogin').addEventListener('click',function(e){
      e.preventDefault();
      e.stopPropagation();
      var useremail = document.getElementById("useremail").value;
      var userpswd = document.getElementById("userpswd").value;

      var hasErrors = false;

      if(!validateEmail(useremail)) {
        document.getElementById("errors_useremail").innerHTML = "Ingresar un Correo Válido";
        hasErrors = true;
      }else{
        document.getElementById("errors_useremail").innerHTML="";
      }

      if(!validatePassword(userpswd)) {
        document.getElementById("errors_userpswd").innerHTML = "La contraseña debe tener almenos 8 caracteres, una mayuscula y un número.";
        hasErrors = true;
      }else{
        document.getElementById("errors_userpswd").innerHTML="";
      }

      if(!hasErrors){
        document.forms[0].submit();
      }

    });
});
</script>
